
  <mat-toolbar>
    <!-- <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button> -->

    <img src="assets/Logo.png" class="logo-img">
    <button routerLink="/" class="logo-text" (click)="logUserStatus()">MIDAS</button>



    @if(authState.isLoggedIn$ | async){

    <div class="user-content">
      <div class="user-menu">
        <button class="section-button"  routerLink="/messaging" matTooltip="View your notifications" *ngIf="isAdmin$">
          <div class="floating-icon">1</div>
          <div class="svg"><journal-entry-svg></journal-entry-svg></div>
          Notifications / Messages
        </button>

        <button [matMenuTriggerFor]="admin" class="section-button" matTooltip="Admin User Controls" *ngIf="isAdmin$">
          <admin-svg></admin-svg>
          Admin Content <mat-icon>expand_more</mat-icon>
        </button>

        <mat-menu #admin="matMenu" class="customize">
          <button routerLink="/admin-dashboard" mat-menu-item>
            <span>Admin Dashboard</span>
          </button>


          <button routerLink="/admin-users-chart" mat-menu-item>
            <span>User Chart</span>
          </button>

          <button routerLink="/admin-expired-passwords-report" mat-menu-item>
            <span>Expired password report</span>
          </button>

          <button routerLink="/admin-user-applications" mat-menu-item>
            <span>User Applications</span>
          </button>
        </mat-menu>


        <button class="section-button"  routerLink="/calendar"  matTooltip="Search our account calendar">
          <calendar-svg></calendar-svg>
          Calendar
        </button>

        <button [matMenuTriggerFor]="accounting" class="section-button" matTooltip="Admin accounting controls" *ngIf="isAdmin$">
          <portal-svg></portal-svg>
          Accounting <mat-icon>expand_more</mat-icon>
        </button>

        <mat-menu #accounting="matMenu" class="customize">
          <button routerLink="/portal-dashboard" mat-menu-item>
            <span>Portal Dashboard</span>
          </button>


          <button routerLink="/chart-of-accounts" mat-menu-item>
            <span>Chart Of Accounts</span>
          </button>

          <button routerLink="/journal-entry-review" mat-menu-item>
            <span>Journal Review</span>
          </button>

          <button routerLink="/journal-entry-form" mat-menu-item>
            <span>Journal Entry Form</span>
          </button>
        </mat-menu>



        <a [matMenuTriggerFor]="profileDropdownMenu" class="flex gap-2 cursor-pointer items-center">
          <!-- <div class="bg-amber-400 text-white font-bold shadow-md rounded-full w-5 h-5 p-4 flex justify-center items-center">
            {{userDetail!.username.charAt(0).toUpperCase()}}
          </div> -->

          <img src="assets/Male Icon.png" class="py-10" style="max-width: 40px; margin:auto">
          <div class="text-white flex flex-col pr-5">
            <h1 class="p-0 m-0 font-medium">
              {{authState.username$ | async}} <mat-icon>expand_more</mat-icon>
            </h1>
            <p class="p-0 pt-1 m-0 font-medium text-xs">
              {{authState.viewRole$ | async}}
            </p>
          </div>
        </a>
        <mat-menu #profileDropdownMenu="matMenu" class="customize">
          <!-- <button [routerLink]="['account',userDetail.id]" mat-menu-item> -->
          <button routerLink="/profile" mat-menu-item class="menu-button">
            <mat-icon>account_circle</mat-icon>
            <span>
              View Profile
            </span>
          </button>

          <!-- Logout -->
          <button (click)="logout()" mat-menu-item>
            <mat-icon>
              logout
            </mat-icon>
            <span>Logout</span>
          </button>

          <!-- Change Password -->
          <button routerLink="/forgot-password" mat-menu-item>
            <mat-icon>
              password
            </mat-icon>
            <span>
              Change Password
            </span>
          </button>
        </mat-menu>



      </div>
    </div>
    }@else{
    <div>
      <div class="flex gap5 items-center">
        <a mat-button routerLink="/login">
          Login
        </a>

        <a mat-button routerLink="/request-system-access">
          Register
        </a>

      </div>
    </div>
    }

  </mat-toolbar>

