.logo-text{
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-decoration:none;
  color: var(--text-gold);
}

.logo-img{
  max-height: 40px;
  margin: 1rem;
}

mat-toolbar{
  background-color: var(--main-black);
  height: 60px;
}
a {
  text-decoration: none;
}
.mat-menu-panel{
  background-color: var(--main-black);
  padding: 10px;
}

.menu-button{
  background-color: var(--main-black);
}

.section-button{
  display: flex;
  flex-direction: rows;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  padding: 5px 10px 5px 2px;
  margin-right: 20px;
  border-radius: 4px;
  //overflow: hidden;
  height: 60px;
  position: relative;
}
.section-button:hover{
  background-color: #141413;
}

.user-content{
  margin-left: auto;
}
.user-menu{
  display: flex;
  //gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.svg{
  margin-top: 20px;
  //margin-bottom: auto;
}

.floating-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -8px;
  top: 30%;
  margin: -10px -10px 0 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--auth-error-text);
  color: white;
  font-size: .8rem;
  font-weight: 800;
  z-index: 2;
  padding: 2px;
  //border: 1px solid white;
  //box-shadow: 2px 2px 3px white;
}
