.main-container{
  display: flex;
  flex-direction: column;
  margin: 5% auto 0 auto;
  border-radius: 5px;
  width: 90%;
  //background-color: var(--main-black);
  font-size: .80rem;
  padding-bottom: 50px;
}

.header, .title-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  //background-color: #1d1d1d;
  //margin-bottom: 1rem;
}
.header{
  margin-bottom: 1rem;
}

.filter-container{
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
  margin-bottom: 1rem;
}


.edit, .create-user, .general-button, .return{
  //background-color: var(--button-gold);
  padding: .3rem .5rem .3rem .5rem;
  border-radius: 5px;
  font-weight: 700;
  color: white;
}

.edit{
  background-color: var(--button-gold);
  color: var(--main-black) ;
}

.create-user{
  background-color: var(--button-gold);
  width: 15rem;
  height: 2rem;
}

.return{
  background-color: var(--button-slate);
  color: white;
}



.mat-icon{
  margin: 0 5px 0 0px
}

table{
  background-color: var(--main-black);
  width: 100%;
  border-radius: 5px;


  thead{
    background-color: transparent;
    // border-radius: 5px;

    tr{
      //background-color: transparent;
      background-color: var(--main-black);


      th{
        background-color: #333333;
        //padding: .5rem 1rem .5rem 1rem;
        padding: 1rem 0.75rem 1rem 0.75rem;
        //border-radius: 5px;
      }
      th:last-of-type{
        border-radius: 0 5px 0 0;
      }
      th:first-of-type{
        border-radius: 5px 0 0 0;
      }
    }
    tr:hover{
      filter: brightness(130%);
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
      transition-duration: 200ms;
    }


  }

  tbody{
    //border-radius: 5px;
    tr{
      //border-radius: 5px;
      background-color: var(--main-black);
      td{
        background-color: transparent;
        padding: .5rem;
        border-bottom: solid;
        border-color: #333333;
        border-radius: 5px;
        padding: 1rem 0.75rem 1rem 0.75rem;
      }
    }
    tr:hover{
      filter: brightness(180%);
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
      transition-duration: 200ms;
    }


    tr:last-of-type td:last-of-type{
      border-radius: 0 0 5px 0;
    }
    tr:last-of-type td:first-of-type{
      border-radius: 0 0 0 5px;
    }
    tr:last-of-type td{
      border-bottom: none;
    }
  }
}

.bg{
  background-color: var(--form-black);
}

.arrow{
  align-items: center;
  justify-content: center;
  width: 8rem;
  //flex-direction: row;
}

.mat-icon{
  align-items: center;
  justify-content: center;
}



