.main-container{
  display: flex;
  flex-direction: column;
  margin: 5% auto 0 auto;
  border-radius: 5px;
  width: 90%;
  //background-color: var(--main-black);
  font-size: .80rem;
  padding-bottom: 50px;
}

.header, .title-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  //background-color: #1d1d1d;
  //margin-bottom: 1rem;
}
.header{
  margin-bottom: 1rem;
}

.edit, .create-user, .general-button, .return{
  //background-color: var(--button-gold);
  padding: .3rem .5rem .3rem .5rem;
  border-radius: 5px;
  font-weight: 700;
  color: white;
}

.return{
  background-color: var(--button-slate);
  color: white;
}

.mat-icon{
  margin: 0 5px 0 0px
}

.notification-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  //background-color: var(--form-black);

  .notification-menu{
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
