<div class="main-container">
  <div class="title-header">
    <h2 class="section-header-global">Messages and Notifications</h2>

  </div>
  <div class="header">
    <button class="button return" routerLink="/"><mat-icon
        class="mat-icon">arrow_back</mat-icon> Return to Home Page</button>
  </div>

  <div class="notification-container">

    <div class="notification-menu">

      <div class="menu-item" (click)="showMessageList = true; showAll()">
        <mat-icon>report_problem</mat-icon>All <div class="floating-icon">{{lengthOfMessageList((userMessages$ | async)!)}}</div>
      </div>

      <div class="menu-item" (click)="showMessageList = true; showEmails()">
        <mat-icon>report_problem</mat-icon>Emails <div class="floating-icon">{{lengthOfMessageList((userEmails$ | async)!)}}</div>
      </div>

      <div class="menu-item" (click)="showMessageList = true; showAlerts()">
        <mat-icon>mail</mat-icon>Notifications <div class="floating-icon">{{lengthOfMessageList((userAlerts$ | async)!)}}</div>
      </div>

      <div class="menu-item"  (click)="showMessageList = true; showWorkflow()">
        <mat-icon>outgoing_mail</mat-icon>Account Alerts <div class="floating-icon">{{lengthOfMessageList((userWorkflow$ | async)!)}}</div>
      </div>

      <div class="menu-item"  (click)="showMessageSend = true">
        <mat-icon>send</mat-icon>Compose Message
      </div>

    </div>

     <!-- View Message List -->
     <form class="notification-display view-display" *ngIf="showMessageList">
      <div class="display-buttons">
          <div class="row-item send">
            <mat-icon>manage_search</mat-icon>Search : <input />
          </div>
          <!-- <mat-icon class="clickable" >keyboard_return</mat-icon>
          <mat-icon class="clickable" (click)="showMessageList = !showMessageList">close</mat-icon> -->
      </div>


      <div class="scrollable">
        <!-- <div class="display-headers" *ngFor="let item of [].constructor(20); let i = index"> -->
          <div class="display-headers clicklite" *ngFor="let message of messageList let i = index" (click)="selectMessage(message.id)">
            <div class="row-item view">
              <mat-icon>
                {{message.status === 'UNREAD' ? 'mark_email_unread' : 'email'}}
              </mat-icon>

              <span class="view-sender">
                {{message.category === 'SYSTEM_ALERT' ? '[System]' : ''}}
                {{message.sender}}
              </span>

              <span class="view-preview">{{message.content | slice:0:100}}...</span>

              <span class="view-date">{{convertTimestamp(message.createdAt) | date:'short'}}</span>

              <span class="view-status"
                    [class.unread]="message.status === 'UNREAD'">
                ({{message.status.toLowerCase()}})
              </span>

              <span class="view-priority" [ngClass]="message.priority.toLowerCase()">
                {{message.priority}}
              </span>

              <mat-icon class="view-delete clickable"
                        (click)="deleteMessage(message.id)">

              </mat-icon>
            </div>
        </div>

        <!-- <div class="display-headers">
          <div class="row-item view">
            <mat-icon class="clickable" (click)="showMessageView = true">email</mat-icon><span class="view-sender">[Admin] Segun Olowofoyeku</span><span class="view-preview">Hello this is an urgent message with alot of text and stuff so this is written to run off the div</span> <span class="view-date">11/21/24 10:55pm</span> <span class="view-status">(read)</span> <mat-icon class="view-delete clickable">delete_forever</mat-icon>
          </div>
        </div> -->

      </div>
    </form>

    <!-- Read Messages -->
    <div class="notification-display"  *ngIf="showMessageView">
      <div class="display-buttons">
          <div class="row-item">
            <mat-icon>article</mat-icon>Title : {{currentMessage.subject}}
          </div>
          <mat-icon class="clickable" (click)="messageReturn()">keyboard_return</mat-icon>
          <!-- <mat-icon class="clickable" (click)="showMessageView = !showMessageView">close</mat-icon> -->
      </div>

      <div class="display-headers">
        <div class="row-item">
          <mat-icon>topic</mat-icon>Category: {{currentMessage.category}}
        </div>
        <div class="row-item">
          <mat-icon>date_range</mat-icon> Date Sent : {{convertTimestamp(currentMessage.createdAt)}}
        </div>
      </div>

      <div class="display-headers">
        <div class="row-item">
          <mat-icon>record_voice_over</mat-icon>Sender : {{currentMessage.sender}}
        </div>
      </div>
      <div class="display-headers">
        <div class="row-item">
          <mat-icon>contact_mail</mat-icon>Recipient(s): {{currentMessage.recipients}}
        </div>
      </div>


      <div class="display-headers content">

        {{currentMessage.content}}

          <!-- Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum[d] exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? [D]Quis autem vel eum i[r]ure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?<br><br>

          Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum[d] exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? [D]Quis autem vel eum i[r]ure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?

          <br><br>

          Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum[d] exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? [D]Quis autem vel eum i[r]ure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?

          Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum[d] exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? [D]Quis autem vel eum i[r]ure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?

          Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum[d] exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? [D]Quis autem vel eum i[r]ure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? -->

      </div>




      <div class="display-buttons">

        <div class="delete">
          <mat-icon>delete</mat-icon> Delete?
        </div>

        <div class="reply clickable" (click)="showMessageSend = true">
          <mat-icon>reply</mat-icon> Reply?
        </div>

      </div>



    </div>




    <!-- Send messages -->

    <form class="notification-display" [formGroup]="messageForm" *ngIf="showMessageSend">
      <div class="display-buttons">
          <div class="row-item send">
            <mat-icon>article</mat-icon>Title : <input type="text" formControlName="title"/>
          </div>
          <!-- <mat-icon class="clickable">keyboard_return</mat-icon> -->
          <mat-icon class="clickable" (click)="showMessageSend = !showMessageSend">close</mat-icon>
      </div>

      <div class="display-headers">
        <div class="row-item send">
          <mat-icon>topic</mat-icon>Category :
          <select formControlName="type">
            <option value="MessageCategory.SYSTEM_ALERT">System Notification</option>
            <option value="MessageCategory.USER_MESSAGE">User Message</option>
            <option value="MessageCategory.WORKFLOW">Accounting Notification</option>
          </select>
          <mat-icon class="dropdown">arrow_drop_down</mat-icon>
        </div>
        <!-- <div class="row-item send">
          <mat-icon></mat-icon> Date Sent : <input type="text" formControlName="date"/>
        </div> -->
      </div>

      <div class="display-headers">
        <!-- <div class="row-item send">
          <mat-icon></mat-icon>Sender : <input>
        </div> -->
        <div class="row-item send">
          <mat-icon>contact_mail</mat-icon>Recipient(s):
          <!-- <input type="text" formControlName="recipientUid" placeholder="Enter recipients User ID"/> -->
          <select formControlName="recipientUid">
            <option *ngFor="let user of allUsers$ | async" value="{{user.id}}">{{user.firstname}} {{user.lastname}} ({{user.username}})</option>
          </select>
        </div>
      </div>


      <div class="display-headers content-send">
        <textarea formControlName="message" placeholder="Message:"></textarea>
      </div>




      <div class="display-buttons">

        <button type="reset" class="delete" (click)="createForm()">
          <mat-icon>backspace</mat-icon> clear?
        </button>

        <button type="submit" class="reply" (click)="sendMessage()">
          <mat-icon>send</mat-icon> Send?
        </button>

      </div>

    </form>


  </div>

</div>
