

<div class="main-container">

  <div class="title-header">
    <h2 class="section-header-global">Fiscal Period</h2>
  </div>
  <div class="header">
    <button class="button return" routerLink="/admin-dashboard"><mat-icon class="mat-icon">arrow_back</mat-icon> Return to Admin Dashboard</button>
    <button class="button create-user"  (click)="showAll = !showAll">Hide / Show All</button>
  </div>

  <div *ngFor="let account of accounts$ | async">
    <account-ledger-fiscal-card [accountLedger]="account" [show]="showAll"/>
  </div>

</div>







